body {
    background: linear-gradient(to top, rgb(181, 226, 255), rgb(255, 173, 173));
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(30deg);
    animation: rotate 10s linear infinite;
    
}

.face {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: .9;
    border: 1px solid #000; /* Debugging border */
    backface-visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Face positions */
.front  { transform: translateZ(100px); background-color: rgb(1, 136, 255); }
.back   { transform: rotateY(180deg) translateZ(100px); background-color: rgb(255, 0, 0); }
.top    { transform: rotateX(90deg) translateZ(100px); background-color: rgb(255, 255, 255); }
.bottom { transform: rotateX(-90deg) translateZ(100px); background-color: rgb(255, 187, 0); }
.left   { transform: rotateY(-90deg) translateZ(100px); background-color: rgb(13, 255, 0); }
.right  { transform: rotateY(90deg) translateZ(100px); background-color: rgb(229, 255, 0); }

@keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(720deg) rotateY(360deg);
    }
}
.cube:hover{
    animation: rotate 1s ease-in infinite;

}